// 隐藏图片没有src时候的边框。为了美观
img[src=""],
img:not([src]) {
  opacity: 0;
}

// 去除input type=number 的箭头
input {
  &[type="number"] {
    appearance: textfield;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
  }
}

// 滚动条样式
::-webkit-scrollbar {
  z-index: 999;
  width: 6px;
  height: 6px;
  background-color: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
  box-shadow: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #b9c4d3;
  border-radius: 10px;
}
