public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*stylelint*
public-hoist-pattern[]=*commitlint*
public-hoist-pattern[]=unplugin-icons
public-hoist-pattern[]=vite
public-hoist-pattern[]=unocss
public-hoist-pattern[]=@unocss/reset

# shamefully-hoist=true
use-node-version=20.10.0
registry=https://registry.npmmirror.com
