electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/

# shamefully-hoist=true
use-node-version=20.10.0
registry=https://registry.npmmirror.com
